In [1]:
import numpy as np
import pandas as pd
# from calibration.Calibration import Calibration

In [2]:
# load rankings
# model_reco/neumf/reco_matrix_neumf_100k_100.npy
reco_matrix = np.load("model_reco/1m/wmf/reco_matrix_wmf_1m_1000.npy")[0]

print(reco_matrix.shape)

(6040, 1000)

In [3]:
import pickle

with open("model_reco/1m/wmf/score_dicts_wmf1m.pkl", "rb") as file:
    scores = pickle.load(file)
scores.__len__()

6040

In [4]:

movie = './data/ml-1m/i_id_mapping_genre.csv'

df_movie = pd.read_csv(movie, sep='\t')
print(f'shape: {df_movie.shape}')


df_movie.columns = ["item_id", "Name","genres","itemID"]
df_movie[:4]
movies = df_movie.sort_values(by="itemID")
unique_genres = [
    "Action",
    "Thriller",
    "Romance",
    "Western",
    "Children's",
    "Mystery",
    "Fantasy",
    "Film-Noir",
    "Documentary",
    "Comedy",
    "Adventure",
    "Sci-Fi",
    "Horror",
    "Crime",
    "Musical",
    "War",
    "Animation",
    "Drama",
]
for genre in unique_genres:
    movies[genre] = 0
    
for index, row in movies.iterrows():
    genres = row["genres"].split("|")
    for genre in genres:
        movies.at[index, genre] = 1
movies


movies

shape: (3416, 4)

,item_id,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,1193,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,661,James and the Giant Peach (1996),Animation|Children's|Musical,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
2,914,My Fair Lady (1964),Musical|Romance,2,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3408,Erin Brockovich (2000),Drama,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,4,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411,2833,Lucie Aubrac (1997),Romance|War,3411,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3412,3207,"Snows of Kilimanjaro, The (1952)",Adventure,3412,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3413,3533,"Actor's Revenge, An (Yukinojo Henge) (1963)",Drama,3413,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3414,2777,Cobra (1925),Drama,3414,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3415,3443,Born American (1986),Action|Drama|Thriller,3415,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
movies = movies.drop(columns=["item_id"])
movies = movies.sort_values(by="itemID")
movies

,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,James and the Giant Peach (1996),Animation|Children's|Musical,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
2,My Fair Lady (1964),Musical|Romance,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Erin Brockovich (2000),Drama,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,"Bug's Life, A (1998)",Animation|Children's|Comedy,4,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411,Lucie Aubrac (1997),Romance|War,3411,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3412,"Snows of Kilimanjaro, The (1952)",Adventure,3412,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3413,"Actor's Revenge, An (Yukinojo Henge) (1963)",Drama,3413,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3414,Cobra (1925),Drama,3414,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3415,Born American (1986),Action|Drama|Thriller,3415,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
users = pd.read_csv("./data/ml-1m/u_id_mapping_demographic.csv", sep="\t")
# users


users = users.sort_values(by="userID")

users = users.drop(columns=users.columns[0])
gender_map = {"M": 0, "F": 1}
users["Gender"] = users["Gender"].map(gender_map)
# user_features_numpy = users.to_numpy()
users

      Gender  Age  Occupation ZipCode  userID
0          1    1          10   48067       0
1          0   56          16   70072       1
2          0   25          15   55117       2
3          0   45           7   02460       3
4          0   25          20   55455       4
...      ...  ...         ...     ...     ...
6035       1   25          15   32603    6035
6036       1   45           1   76006    6036
6037       1   56           1   14706    6037
6038       1   45           0   01060    6038
6039       0   25           6   11106    6039

[6040 rows x 5 columns]

In [7]:
item_ids = movies["itemID"].to_numpy()
item_ids

array([   0,    1,    2, ..., 3413, 3414, 3415])

In [8]:
users

      Gender  Age  Occupation ZipCode  userID
0          1    1          10   48067       0
1          0   56          16   70072       1
2          0   25          15   55117       2
3          0   45           7   02460       3
4          0   25          20   55455       4
...      ...  ...         ...     ...     ...
6035       1   25          15   32603    6035
6036       1   45           1   76006    6036
6037       1   56           1   14706    6037
6038       1   45           0   01060    6038
6039       0   25           6   11106    6039

[6040 rows x 5 columns]

In [9]:
# age_map = { 0:  "Under 18",
# 	 1:  "18-24",
# 	 2:  "25-34",
# 	 3:  "35-44",
# 	 4:  "45-49",
# 	 5:  "50-55",
# 	 6:  "56+"} #we will follow the same age amp for all dataset
from metrics.utils import map_age
users["Age_Code"] = users["Age"].apply(map_age)
users

      Gender  Age  Occupation ZipCode  userID  Age_Code
0          1    1          10   48067       0         0
1          0   56          16   70072       1         6
2          0   25          15   55117       2         2
3          0   45           7   02460       3         4
4          0   25          20   55455       4         2
...      ...  ...         ...     ...     ...       ...
6035       1   25          15   32603    6035         2
6036       1   45           1   76006    6036         4
6037       1   56           1   14706    6037         6
6038       1   45           0   01060    6038         4
6039       0   25           6   11106    6039         2

[6040 rows x 6 columns]

In [10]:
users["Occupation"].min()

0

In [24]:
# tahsin kheya
# last modified 23/01/2025
import pandas as pd
import os
import numpy as np

# import torch
import time
from logging import getLogger
import random
import numpy as np

from scipy.stats import entropy
# from mpi4py import MPI

# comm = MPI.COMM_WORLD
rank = 0


class GreedyCalibration(object):
    def __init__(self, config, movies, top_k, unique_genres, users, sensitive_attr, beta):
        self.top_k = top_k
        self.users_df = users
        self.users_np = users.to_numpy()
        self.beta = beta
        self.actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
        self.actual_genre_dist = self.actual_genre_dist.sort_values(by="userID")
        self.unique_genres = unique_genres
        self.i =movies
        self.i[unique_genres] = self.i[self.unique_genres].div(
            self.i[self.unique_genres].sum(axis=1), axis=0
        )
        self.sensitive_attr = sensitive_attr
        self.sensitive_compare_dist = []
        self.actual_distribution_sensitive = []

    def get_recom_distribution(self, reco, uid, compare_dist, alpha):
        reco = np.array(reco)
        selected_items = self.i[self.i['itemID'].isin(reco)]
        selected_items = selected_items.set_index('itemID').loc[reco].reset_index()
        selected_items = selected_items[self.unique_genres].to_numpy()
        indices = np.arange(len(reco))
        weights = 1 / (indices + 1) ** 0.1
        updated_genre_proportions = (1 - alpha) * selected_items + alpha * compare_dist
        updated_genre_proportions = weights[:, None] * updated_genre_proportions
        updated_genre_proportions = updated_genre_proportions.sum(axis=0)
        return updated_genre_proportions

    def compute_diversity_score(self, reco_items, uid, scores, b):
        alpha = 0.01
        userid = self.users_df.columns.get_loc("userID")
        sens_atr = self.users_df.columns.get_loc(self.sensitive_attr)
        filtered_rows = self.users_np[self.users_np[:, userid] == uid][0]
        current_user_sensitive_attr= filtered_rows[sens_atr]
        compare_dist = self.sensitive_compare_dist[current_user_sensitive_attr]
        # print(f"user id {uid} with gender {current_user_sensitive_attr} compare_dist {compare_dist} ")
        reco_dist = self.get_recom_distribution(reco_items, uid, compare_dist, alpha)  # sum wr(i)q˜(д|i),
        reco_dist = np.log(reco_dist)  # log sum wr(i)q˜(д|i),
        faireness_term = np.sum(compare_dist * reco_dist)
        sum_score = sum(scores[item] for item in reco_items)
        return (sum_score, faireness_term)

    def get_improved_reco(self, top_items, items, scores):
        self.get_sensitive_genre_dist()
        return self.get_new_recommendations(
            reco=top_items, scores=scores, all_items=items
        )

    def get_sensitive_genre_dist(self):
        actual_dist_sensitive = pd.merge(
            self.actual_genre_dist, self.users_df, on="userID"
        )
        sensitive_genre_weights_a = actual_dist_sensitive.groupby(self.sensitive_attr)[
            self.unique_genres
        ].mean()
        self.actual_distribution_sensitive = sensitive_genre_weights_a.sort_index()
        sensitive_compare_dist = self.actual_distribution_sensitive.sum()
        self.sensitive_compare_dist = self.actual_distribution_sensitive.apply(
            lambda r: sensitive_compare_dist - r, axis=1
        )
        nonzeroarray = np.full(len(self.unique_genres), 0.001)
        tradeoff = 0.01
        self.sensitive_compare_dist = tradeoff * nonzeroarray + (1-tradeoff) * self.sensitive_compare_dist #just to ensure we never get log 0 error
        self.sensitive_compare_dist = (
            self.sensitive_compare_dist[self.unique_genres].sort_index().to_numpy()
        )
        

    def normalize_scores(self, diversity_scores, b):
        div_scores = np.array(diversity_scores)
        scores = div_scores[:, 0]
        fairness = div_scores[:, 1]
        min_score,min_fairness = np.min(scores), np.min(fairness)
        max_score,max_fairness = np.max(scores), np.max(fairness)
        score_norm = (scores- min_score) /(max_score-min_score)
        fairness_norm = (fairness-min_fairness)/(max_fairness-min_fairness)
        fair_score_norm = (1 - b) * score_norm + b * fairness_norm
        fair_score_norm[div_scores[:, 0] == 0] = -9999
        return fair_score_norm

    def get_new_recommendations(self, reco, scores, all_items):
        """reco is 6040x50 and scores is 6040x3416"""
        b = self.beta  # beta for the fairness term
        # print(f"beta {b}")
        all_users = []
        top_k = self.top_k
        num_users = len(scores)
        # for u in range(rank*2,rank*2+2):
        upper_bound = min(num_users, rank * 25 + 25)
        
        for u in range(5999, num_users):
            start_time = time.perf_counter()
            # remaining_items = list(range(10))
            # print(reco)
            remaining_items = reco[u]
            # remaining_items = all_items
          
            # print(remaining_items)
            u_calibrated = []
            for k in range(top_k):
                diversity_scores = [
                    self.compute_diversity_score(u_calibrated + [i], u, scores[u], b)
                    for i in remaining_items
                ]
                norm_diversity_scores = self.normalize_scores(diversity_scores, b)
                max_index = np.argmax(norm_diversity_scores)
                best_item = remaining_items[max_index]
                u_calibrated.append(best_item)
                remaining_items=np.delete(remaining_items, max_index)
                
                
            end_time = time.perf_counter()
            print(f"time taken {end_time-start_time}")
            print(f"user {u} u_calibrate {u_calibrated}")
            all_users.append(u_calibrated)

        return np.array(all_users)

In [ ]:
config = {"user_genre_dist_file": "./data/ml-1m/pgui.csv"}

sensitive_attr = "Age_Code"
# movies = movie df
calibration = GreedyCalibration(config, movies,20, unique_genres, users, sensitive_attr, 0.4)
retVal = calibration.get_improved_reco(reco_matrix, list(item_ids), scores)

time taken 10.923958041938022
user 5999 u_calibrate [85, 44, 171, 669, 505, 167, 127, 390, 770, 123, 48, 78, 273, 662, 22, 23, 47, 38, 729, 338]
time taken 11.138415541965514
user 6000 u_calibrate [669, 104, 662, 420, 1158, 9, 184, 611, 51, 1092, 559, 174, 128, 199, 718, 661, 434, 766, 629, 321]
time taken 10.792938750004396
user 6001 u_calibrate [669, 1503, 546, 9, 964, 597, 559, 199, 47, 1268, 719, 1624, 1195, 2043, 174, 560, 26, 1517, 105, 535]
time taken 11.193700999952853
user 6002 u_calibrate [669, 1503, 23, 9, 662, 199, 1158, 104, 546, 420, 535, 44, 559, 597, 51, 1092, 766, 321, 611, 1517]
time taken 10.71800545800943
user 6003 u_calibrate [29, 124, 720, 273, 381, 896, 5, 132, 331, 92, 535, 68, 842, 738, 678, 246, 167, 335, 97, 64]
time taken 11.22847999993246
user 6004 u_calibrate [740, 662, 714, 482, 600, 294, 584, 909, 1000, 1728, 104, 603, 192, 209, 167, 990, 44, 15, 743, 669]
time taken 10.811388208065182
user 6005 u_calibrate [505, 5, 381, 1523, 134, 167, 259, 153, 2150, 500, 26, 1790, 50, 557, 273, 156, 9, 38, 149, 22]
time taken 10.419463458005339
user 6006 u_calibrate [133, 171, 85, 202, 68, 148, 137, 711, 1259, 27, 1316, 196, 128, 690, 605, 1833, 277, 92, 788, 1058]
time taken 10.45020129205659
user 6007 u_calibrate [48, 97, 148, 669, 273, 26, 128, 92, 127, 22, 390, 246, 167, 171, 132, 15, 123, 68, 264, 206]
time taken 11.006176583003253
user 6008 u_calibrate [104, 151, 171, 167, 123, 246, 505, 26, 280, 27, 92, 85, 374, 390, 788, 113, 396, 48, 259, 164]
time taken 10.721438250038773
user 6009 u_calibrate [711, 385, 217, 7, 608, 124, 600, 210, 44, 167, 203, 175, 127, 669, 206, 92, 22, 246, 9, 85]
time taken 10.582215875037946
user 6010 u_calibrate [48, 22, 195, 171, 167, 40, 669, 44, 273, 78, 123, 68, 390, 246, 27, 206, 85, 538, 5, 132]
time taken 10.86366137501318
user 6011 u_calibrate [2775, 184, 372, 979, 898, 317, 869, 64, 334, 500, 1654, 363, 515, 16, 44, 873, 788, 43, 104, 256]

In [34]:
import csv
def write_to_file(all_data, top_k):
    with open("Gender_8_wmf1m.csv", "w", newline="") as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(["user_id"] + [f"top_{i+1}" for i in range(top_k)])
        print(":" * 10)
        print(all_data)
        print(all_data.__len__())
        print(":" * 10)
        i = 0
        for reco in all_data:
            r = [str(i+5999)] + [str(w) for w in reco]
            writer.writerow(r)
            i = i + 1

In [35]:
write_to_file(retVal, 20)

::::::::::
[[  85  127  770   48   44  167  171  123  669   26   78   23  505   38
   839   59  124   47  199  338]
 [ 669   51  611  104 1158  420  662    9  184 1092  559  128  174  194
   629  661  718  434  321   67]
 [ 669 1268  199  420    9   47  546 2043 1960 1195  611 1158  719  597
  1624  174  560  770  105  559]
 [ 669  420  629  199    9   23  546  611   51  104 1158  719  321 1517
   559 1092  174   40  105  718]
 [  29  124    5  673   92  273  132  535   68  896  331  842  678  539
   591  720   97  531  167   21]
 [ 294  192  482  714  209  600  868  662  584  990 1728 1000  431  909
   104  603  740  250  974 1149]
 [ 505    5  381 1523  134  167 2150 1790   50  557   10   40  500  259
   153  149  729    9  535   45]
 [ 133  171   85  202   68  148  137  605   27  277 1259  195   92  690
   128   72  187 1058   38  160]
 [  48   97  127  669   22   92   64  132   44  273  128  124   68   78
   210   26  171  390  246  167]
 [ 104  151  171  167  280  505  123  246   27   85   23   92  437   48
   484   38  128  538  390  788]
 [ 711   44  210  385    7   40  124  600  203    9  175  127  669   22
     5   85  206   92  198  217]
 [  48  171  132   44  167   40   78   68  127  669   22  273  123   92
    58  390   85    5   97   23]
 [2775  372  184  317  898  979 1654  500  334  869  256  515  516  873
   363  291 1648  104  788  305]
 [ 346  411  372  535 2475   29  266   55   43  219  281 1520  453  184
  1682  381  500   88 1106 1651]
 [ 662  719 1195    9 1092  321  611 1448 1158  661  420  535  199  743
    47  669   44  766 1283 1454]
 [ 381    5   29  167  134  124  246   40   10   50  505  535   23   44
   273  259  104    7  132  547]
 [2475   55   51  669  611  958   29  661 1651  297 1900  381 1673 2212
   246  306  127  535   95 2560]
 [ 679    3  134   38   68   23  338    9 1518  669  153  167  321  719
    22  420   50   85  104  406]
 [ 669  104  209  719  662   44   48  199  338 1092  128  127   68  217
   420    4  206  213  321    9]
 [ 167  195  171   44  669  788   85   68  390   48  104   23  127   38
   273  246   22  134  123   92]
 [ 136  199  719  662    9  209 1278  661 1451 1092 1237  321  338  611
   669 2294 1283  420 1450 1080]
 [ 124    5  669  128   50   22  167  127   44  206  209  246    7   48
     9  171  199  210  175    0]
 [ 124    5  128  669   50    7   44  167  273  246   64   48  168  127
    22   92  206   41  171  210]
 [  92  148   97  711  195   48   78  150  160   68  117   90   74  171
   132  210  850  133  895  113]
 [  48    5   97   68  273  669    4   85   44  167  788   38   92   64
   246  127   22  171  104  151]
 [ 124  104 1118    5  167   40  669   22  171   44  246  168  127  505
   128    7  437  635   23   13]
 [ 662   44   15  124  209   64   96  743  669  611   26  714  206  127
    77  217  964    5 1241    9]
 [  92  148  151   48  171   97  711  123   78  128  195  390   27  150
   198   85  117   23  895  264]
 [ 669   97    5   92  206  167   78  127  132   48  210  434   68   44
   213  246  151  199  128   64]
 [1348  719 1546 1623 1462  669 2038   47   26  600  199  766  553  597
   629  153  105    9  726  128]
 [ 124  132  740  662    5   44  206  376  209  743  714  468  669   97
   273  331    0   64   15  217]
 [ 124   22   26   64   85    5  390  273  548 2319  210   59   13  167
   186  171  132   58  168   50]
 [ 597  719  662 1195    9  766   47  600  669  559  199  562  321  611
   617  420  535  553   44 2263]
 [  48   44  273  669   38   92   64    4  167  127   22   68  171  199
    97  338    0  124  217    9]
 [1231   70  611 1092 2227  338 1249 1237  559 1449 1446 1450  661  960
  1240 2608  766 1158  994  669]
 [ 505    5   51  124  381  167   44  546   40  743   85  669   23  538
    13  246  280   64 1115   38]
 [ 669 1158 1529  998  719 1283  315 1730    9  958  338  127  321  184
   939  546   51 1126  219 1494]
 [ 669  104 1158  420   44  338  321    9  766  434   47  199  629    0
   127  315  662   23  486  661]
 [ 535  420    5   29    9 1462   44  600  669  206  411  585    7 1651
   381   64  539   23 1195  547]
 [   9  648 1195  726   44  321  420  600  585  693  535 1454  719 1509
    47 1278    2 1503  669  623]
 [1457  611  170 1283 1092 2227 1497 2030  560   71 1584  998  276 1158
    70 2226 2475 1730  174 2028]]
41
::::::::::

In [29]:
60*100

6000

In [ ]:
[[0.08129701 0.09984646 0.10186467 0.00437437 0.02813458 0.02732321
  0.003018   0.00602636 0.00491627 0.17567712 0.03694285 0.03532941
  0.02621846 0.03241395 0.02030809 0.03561443 0.01182731 0.26886745]
 [0.09949207 0.10652983 0.07843789 0.00750481 0.0212343  0.02824415
  0.00267132 0.00756791 0.00676386 0.16412515 0.04600522 0.05045142
  0.02637584 0.0358961  0.01568117 0.0390856  0.01119075 0.25274259]]

In [20]:
users[users["userID"]==25]

    user_id  Age  Gender Occupation ZipCode  userID  Occupation_Code
37       38   28       1      other   54467      25               13

In [ ]:
time taken 3.5609370830934495
user 3 u_calibrate [161, 47, 49, 389, 361, 118, 307, 430, 77, 407]
time taken 3.3222476250957698
user 4 u_calibrate [117, 673, 357, 184, 795, 252, 24, 325, 565, 742]
time taken 3.5916312499903142
user 5 u_calibrate [161, 78, 189, 254, 389, 361, 93, 357, 31, 321]

In [47]:
(0.45515195799816865-3.5609370830934495)/3.5609370830934495

-0.8721819713807551

In [17]:
a = np.array([[1,2,3,4],[5,6,7,8],[1,2,2,3]])
b=np.array([5,6,7,8])
c=np.array([1,2,2,3])
x = a.sum(axis=1)
x

array([10, 26,  8])

In [ ]:
m = movies
m[unique_genres] = movies[unique_genres].div(
        movies[unique_genres].sum(axis=1), axis=0
        )
m

In [ ]:
st = time.perf_counter()
u_calibrated = np.empty(1000)
current_index = 0
for i in range(1000):
    u_calibrated[current_index] = i
    current_index += 1
# u_calibrated = u_calibrated[:current_index]  # Trim if necessary
et = time.perf_counter()
print(et-st)

In [ ]:
np.save("occupation_9", retVal)

In [ ]:
users[3:10]

In [ ]:
s= time.time()
current_user_sensitive_attr = users.loc[
            users["userID"] == 4, "Gender"
        ].item()
e= time.time()
print(e-s)
current_user_sensitive_attr

In [ ]:
usersnp=users.to_numpy()

s= time.time()
userid = users.columns.get_loc("userID")
sens_atr = users.columns.get_loc("Gender")
filtered_rows = usersnp[usersnp[:, userid] == 4][0]
sens_atr= filtered_rows[sens_atr]
e= time.time()
print(e-s)

print("Original array:")
print(sens_atr)
print("\nFiltered rows where the 5th column is 4:")
print(filtered_rows)

In [ ]:
users

In [ ]:
p = np.array([0.1, 0.3, 0.6])
q = np.array([0.3, 0.4, 0.3])
# q˜(д|u) = (1 − α) · q(д|u) + α · p(д|u)
q_t = (1 - 0.01) * q + 0.01 * p
print(q_t)

In [ ]:
movies[793:794]

In [ ]:
movies[movies["genres"]==""]

In [ ]:
scores[0][1]

In [ ]:
sum(
    [
        0.0,
        0.01923077,
        0.0,
        0.11965812,
        0.0,
        0.02136753,
        0.0,
        0.00641026,
        0.0,
        0.02564101,
        0.5769231,
        0.02777778,
        0.01282051,
        0.0,
        0.0,
        0.0,
        0.01495726,
        0.0,
        0.17521365,
    ]
)

In [ ]:
item_index = movies.index.get_loc(0)
item_index

In [ ]:
reco = [1, 23, 4]
reco_2 = np.array(reco)
reco_2.flatten()

In [ ]:
nonzero_indices = np.where(p_dist != 0)

In [ ]:
nonzero_indices

In [ ]:
movies

In [ ]:
actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
actual_genre_dist = actual_genre_dist.sort_values(by="userID")
x = pd.merge(
            actual_genre_dist, users, on="userID"
        )
x = x.groupby(sensitive_attr)[
            unique_genres
        ].mean()
x

In [ ]:
total_sum = x.sum()
total_sum

In [ ]:

sum_except_self = x.apply(lambda row: total_sum - row, axis=1)
sum_except_self

In [ ]:

sum_except_self.sort_index(ascending=True).to_numpy()[0]

In [ ]:
print(int(users[users["userID"]==1]["Occupation_Code"]))

In [ ]:
occupation_code = users.loc[users["userID"] == 1, "Occupation_Code"].item()
occupation_code

In [ ]:
users[users["Occupation_Code"]==4]

In [ ]:
users

In [ ]:
0.5*0.99+0.01*0.26886745

In [ ]:
for i, genre in enumerate(unique_genres):
    print(i)
    print(genre)

In [ ]:
2*(0.2*0.01+0.99*0.02)

In [ ]:
(0.2*0.01+0.99*0.04)

In [ ]:
0.895958*0.000353